:root {
    --primary-color: #333;
    --secondary-color: #444;
    --overlay-color: rgba(0, 0, 0, 0.7);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Catamaran', sans-serif;
    line-height: 1.6;
    color: #333;
    font-size: 1.1rem;
}

h1, h2, h3, h4 {
    line-height: 1.3;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.navbar {
    font-size: 1.3rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.navbar .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.navbar .logo {
    font-size: 2rem;
}

.navbar .nav {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav a {
    padding: 0 1rem;
}

.navbar .nav a:hover {
    font-weight: bold;
}


/* Section-a */
.section-a {
    margin: 2rem 0;
}

.section-a .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.section-a h1 {
    font-size: 4rem;
    color: var(--primary-color);
}

.section-a p {
    margin: 1rem 0;
}

/* Section-b */
.section-b {
    position: relative;
    background: url('https://i.ibb.co/1RS1dqC/section-b.jpg') no-repeat bottom center/cover;
    height: 600px;
}

.section-b-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 860px;
    padding: 4rem 0;
}

.section-b-inner h3 {
    font-size: 2rem;
}
.section-b-inner h2 {
    font-size: 5rem;
    margin-top: 1rem;
}
.section-b-inner p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* Section-c */

.section-c .gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.section-c .gallery a:first-child {
    grid-row: 1/3;
    grid-column: 1/3;
}

.section-c .gallery a:nth-child(2) {
    grid-column: 3/5;
}

.section-c .gallery img, .section-c .gallery a {
    width: 100%;
    height: 100%;
}

/* Footer */

.section-footer {
    background: var(--primary-color);
    color: #fff;
    padding: 4rem 0;
}
.section-footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.section-footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.section-footer h3 {
    margin-bottom: 0.7rem;
    font-weight: bold;
}

.section-footer a {
    line-height: 1.9;
    color: #ccc;
    font-weight: bold;
}
.section-footer a > i {
    color: #555;
    margin-right: 0.5rem;
}
/* Email Form */
.email-form {
    display: inline-block;
    width: 100%;
    background: #555;
    border-radius: 20px;
    margin-top: 1rem;
    line-height: 0;
    position: relative;
}
.email-form .form-control {
    display: inline-block;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: transparent;
    font-family: inherit;
    width: 100%;
    color: #ddd;
    border-radius: 20px;
    height: 45px;
    margin: 0;
    padding: 0 3rem 0 1.5rem;
}

.email-form .submit {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    text-align: center;
    background-color: #eee;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 0 20px 20px 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #333;
}




/* Utilities */

.btn {
    display: inline-block;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    font-size: 1.1rem;
    border: none;
}
.btn:hover {
    background-color: var(--secondary-color);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
}


/* Media Queries */

@media(max-width: 700px) {
    .section-a .container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .section-a .container div:first-child {
        order: 2;
    }
    .section-a .container div:last-child {
        order: -1;
    }
    .section-a img {
        width: 80%;
        margin: auto;
    }

    .section-b-inner h2 {
        font-size: 3.5rem;
    }

    .section-c .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .section-c .gallery a:first-child {
        grid-column: 1/1;
        grid-row: 1/1;
    }
    
    .section-c .gallery a:nth-child(2) {
        grid-row: 2/2;
        grid-column: 2/4;

       
    }
    .section-c .gallery a:last-child {
        display: none;     
    }

    .section-footer {
        padding: 2rem 0;
    }

    .section-footer .container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .section-footer .container div:nth-child(2),
    .section-footer .container div:nth-child(3) {
        display: none;
    }


}